build/
eclipse/
git/
gradle/
build.gradle
*.txt
*.jar
gradlew
gradlew.bat
screenshots/
saves/
config/
bin/
.gradle/
.classpath
.settings/
.project
*.log
*.lck
*.dat
*.old
stats/
mods/
resourcepacks/
crash-reports/
*.log.*
*.zip
